apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: platform-apps
  namespace: {{ .Values.argocd.namespace }}
spec:
  generators:
    - list:
        elements:
          {{- range .Values.apps }}
          {{- if .enabled }}
          - name: {{ .name }}
            namespace: {{ .namespace }}
{{- end }}
{{- end }}